{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>{% block title %}Starter Template for Bootstrap{% endblock title %}</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">About</span>
            <span class="icon-bar">Blog</span>
            <span class="icon-bar">Projects</span>
          </button>
          <a class="navbar-brand" href="#"><img id='logo' src="{% static 'images/pypwrd.png' %}"/></a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'admin:index' %}">Login</a>

        </div>
        <div class="collapse navbar-collapse">
        </div>
      </div>
    </div>

<div class="jumbotron">
  <div class="container">{% block headline %}{% endblock headline%}</div>
</div>

<div class="container">
<div class="row">
      {% block content %}
      {% endblock content %}
    </div>
</div>


    

  </body>
</html>
